<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/vue@next"></script>
    <title>Todo List</title>
</head>

<body>
    <div id="app">
        <h1>Todo Appications</h1>
        <form @submit.prevent="addTodo()">
            <label>New Todo</label>
            <input type="text" v-model="contend">
            <button>Add Todo</button>
        </form>

        <h2>Todo List ({{todos.length}})</h2>
        <ul>
            <li v-for="(todo, index) in todos"> 
            <span :class="{ done: todo.done, notDone: !todo.done }" @click="doIt(todo)">{{ todo.contend }}</span> 
            <button @click="removeTodo"> x </button></li>
        </ul>

        </h1>
    </div>
    <script>
        const App = {
            data() {
                return {
                    todos: [
                        { contend: 'กินข้าว', done: false },
                        { contend: 'เกือบแตก', done: true },
                    ],
                    contend: '',

                }
            },
            methods: {
                addTodo() {
                    console.log(this.contend),
                        this.todos.push({ contend: this.contend, done: false })
                    this.contend= ''
                },
                removeTodo(index){
                    this.todos.splice(index,1)
                },
                doIt(todo){
                    todo.done = !todo.done
                }
            }

        };
        Vue.createApp(App).mount("#app");
    </script>
    <style>
        .done {
            color: goldenrod;
            text-decoration: line-through;
        }
        .notDone {
            color: brown;
        }
    </style>
</body>

</html>